@import "../../index.scss";

$borderRadius: 8px;
$background: #20202023;
$background2: #fad9d973;
$color: white;

.count-down-block {
  display: inline-flex;
  margin: 15px;
  width: 200px;
  flex-direction: column;
  .count-down-block__number {
    font-size: 56px;
    width: 100%;
    height: 200px;
    background-color: $background;
    color: $color;
    font-family: $fontStyle;
    border-top-left-radius: $borderRadius;
    border-top-right-radius: $borderRadius;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .count-down-block__title {
    background-color: $background2;
    padding: 15px;
    border-bottom-left-radius: $borderRadius;
    border-bottom-right-radius: $borderRadius;
    text-align: center;
    color: $color;
    font-size: 24px;
  }
}

@media (max-width: 374px) {
  .count-down-block {
    margin: 0;
    width: auto;
    padding: 15px 0;
    .count-down-block__number {
      height: auto;
      background-color: unset;
    }
    .count-down-block__title {
      background-color: unset;
      padding-bottom: 0;
    }
    .count-down-block__number {
      font-size: 24px;
    }
    .count-down-block__title {
      font-size: 16px;
    }
  }
}

@media (min-width: 375px) and (max-width: 768px) {
  .count-down-block {
    margin: 0;
    width: auto;
    padding: 15px 0;
    .count-down-block__number {
      height: auto;
      background-color: unset;
    }
    .count-down-block__title {
      background-color: unset;
      padding-bottom: 0;
    }
    .count-down-block__number {
      font-size: 32px;
    }
    .count-down-block__title {
      font-size: 16px;
    }
  }
}
