.date-weather-block {
  height: 200px;
  background-color: #44444400;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0 15px;
  font-size: 35px;
  font-family: "calibri";
  color: white;
  border-radius: 4px;
  transition: all ease-in-out 300ms;
  &:hover {
    background-color: #44444433;
    box-shadow: 1px 1px 18px 0px #1d1d1d;
  }
}


@media (max-width: 768px) {
  .date-weather-block{
    flex-direction: row;
    height: auto;
  }
}