$maxWidth: 1024px;

.home-block {
  width: 100%;
  .home-block__container {
    max-width: $maxWidth;
    margin: 0 auto;
  }
  .home-block__search-block,
  .home-block__current-weather-block {
    .home-block__search-block__container,
    .home-block__current-weather__container {
      padding: 30px;
    }
  }
  .home-block__list-date {
    display: grid;
    grid-gap: 5px;
  }

  .new-year-countdown {
    margin: 0 auto;
    text-align: center;
    padding: 50px 0;
  }
}

@media (max-width: 768px) {
  .home-block {
    .home-block__search-block {
      width: 100%;
      height: 100px;
      overflow: hidden;
      position: sticky;
      top: 0;
    }
    .home-block__current-weather-block {
      padding: 25px;
      .home-block__current-weather__container {
        padding: 0;
      }
    }
    .home-block__list-date {
      position: static;
      grid-row: auto;
      padding: 30px 30px 30px;
    }
    .new-year-countdown {
      padding: 0;
    }
  }

  html,
  body,
  #root {
    overflow: auto;
  }
}

@media (min-width: 769px) {
  .home-block {
    .home-block__search-block {
      padding-top: 50px;
    }
    .home-block__current-weather-block {
      padding: 25px 40px;
    }
    .home-block__search-block,
    .home-block__current-weather-block {
      margin: auto;
    }

    .home-block__list-date {
      grid-template-columns: repeat(5, calc(100% / 5));
      padding: 50px 25px;
      text-align: center;
    }
  }
}
