.current-weather-block {
  color: white;
  display: flex;
  justify-content: space-between;

  .current-weather-block__icon {
    font-size: 56px;
  }

  .current-weather-block__text {
    font-size: 32px;
    padding-bottom: 10px;
  }

  .current-weather-block__temperature {
    font-size: 32px;
  }

  .current-weather-block__property {
    &:not(:last-child) {
      padding-bottom: 15px;
    }
    .current-weather-block__property__title {
      font-size: 16px;
      padding: 10px 0;
    }
    .current-weather-block__property__content {
      font-size: 32px;
    }
  }
}

@media (max-width: 374px) {
  .current-weather-block {
    .current-weather-block__text,
    .current-weather-block__temperature {
      font-size: 24px;
    }
    .current-weather-block__col + .align-right {
      text-align: right;
      .current-weather-block__property__content{
        font-size: 24px;
    }
    }
  }
}

@media (min-width: 375px) and (max-width: 769px) {
  .current-weather-block {
    .current-weather-block__text,
    .current-weather-block__temperature {
      font-size: 24px;
    }
    .current-weather-block__col + .align-right {
      text-align: right;
      .current-weather-block__property__content{
          font-size: 24px;
      }
    }
  }
}
