.countdown-title {
  font-size: 48px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  padding-bottom: 15px;
}

@media (max-width: 768px) {
  .countdown-title {
    font-size: 24px;
    padding-top: 15px;
  }
}
