.search-bar {
  display: flex;
  border: 1px solid lightgray;
  * {
    font-size: 16px;
  }
  input, select {
    outline: none;
    height: 40px;
    width: 100%;
    border: none;
    padding: 0px 20px;
    box-shadow: none;
    border-radius: 0;
  }
  .search-bar__append {
    height: 40px;
    button {
      outline: none;
      height: 40px;
      background-color: white;
      width: 40px;
      border: none;
      border-radius: 0;
      &:hover {
        background-color: #2fcc8b;
        cursor: pointer;
      }
      img {
        height: 20px;
        width: 20px;
      }
    }
  }
}
